.image-container {
    display: flex;
    justify-content: center; /* Ensure equal space between images */
}

.image-wrapper {
    flex: 1; /* Each image takes equal width */
    margin-left: 20px; /* Add some space between images */
    /* justify-content: center; */
}

.image-wrapper-down {
    flex: 1; /* Each image takes equal width */
    margin-right: 10px; /* Add some space between images */
    margin-top: 50px;
}

.image-wrapper img {
    max-width: 100%; /* Make the images responsive */
    height: auto; /* Maintain aspect ratio */
}


